body {
    background-color: rgb(128, 222, 235)

}

h1 {
    text-align: center;
    font-size: 42px;
    color: rgb(17, 51, 247);
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}

/*
li {
    color: black;
}

.first {
    color: black;
}

#cool {
    color: black;
}
    */

.blog {
    margin: 0 auto;
    text-align: center;
    width:425px;
    height:500px;
    background-color: rgb(157, 191, 255);
    border: outset 10px;
    border-color: rgb(7, 23, 110);
    
}

#image  {
    width: 100%;
    height: 300px;
}

#nothing  {
    margin: 0 auto;
    text-align: center;
    width:500px;
    height:500px;
    background-color: rgb(157, 191, 255);
    border: outset 10px;
    border-color: rgb(7, 23, 110);


}

#allign  {
    text-align: center;
    text-size-adjust: 10px;
}